
html, body {
  overflow: hidden;
}

#canvases {
  opacity: 0;
  background-color: #000;
  border-radius: 1px;
  box-shadow: 0 0 0 10px #888;

  overflow: hidden;
  position: relative;
  margin: 0 auto;

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#crew-canvas {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}